@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@using TourDeApp.Components.Pages.Shared

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider AuthenticationStateProvider

@rendermode InteractiveServer


<h3 style="color:white">Login</h3>

<LoadingOverlay IsLoading="isLoading"></LoadingOverlay>

<div>
    <EditForm FormName="login" Model="_loginModel" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator/>
        <div>
            <label for="email" style="color: white">Email</label>
            <InputText id="email" @bind-Value="_loginModel.Email"></InputText>
            <ValidationMessage For="() => _loginModel.Email"></ValidationMessage>
        </div>
        <div>
            <label for="password" style="color: white">Heslo</label>
            <InputText id="password" @bind-Value="_loginModel.Password" type="password"></InputText>
            <ValidationMessage For="() => _loginModel.Password"></ValidationMessage>
        </div>
        
        <div style="display: flex; flex-direction: row">     
            <button type="submit">Přihlásit se</button>
            <button @onclick="HandleCreateAccount">Vytvořit účet</button>
        </div>

    </EditForm>
</div>

@code {
    private LoginModel _loginModel = new();

    private bool isLoading = false;
    
    protected override async Task OnInitializedAsync()
    {
        isLoading = false;
        StateHasChanged();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        // pokud už uživatel je přihlášený, poslat ho zpátky domů
        if (user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/");
        }
    }
    
    private async Task HandleSubmit()
    {
        isLoading = true;
        StateHasChanged();
        
        var result = await JSRuntime.InvokeAsync<bool>("authHelper.login", _loginModel.Email, _loginModel.Password);

        if (result)
        {
            isLoading = false;
            StateHasChanged();
            NavigationManager.NavigateTo("/", true);
        }

        isLoading = false;
        StateHasChanged();
    }

    private void HandleCreateAccount()
    {
        NavigationManager.NavigateTo("/register");
    }
}