# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/

# Debug and Release folders
[Dd]ebug*/
[Rr]elease*/

# Visual Studio Code files
*.code-workspace
.vscode/

# Rider project files
.idea/

# Resharper files
_ReSharper*/
*.ReSharper
*.DotSettings.user

# NuGet packages
*.nupkg
*.snupkg
packages/

# LibMan artifacts
wwwroot/lib/

# NPM packages
node_modules/
wwwroot/node_modules/

# Logs
*.log

# Bundle and minify config files
bundleconfig.json

# Yarn files
.yarn/
.yarnrc.yml

# Backup & report files
*.bak
*.dmp
*.err

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# StyleCop
StyleCop.Cache

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Publish
publish/

# Other files
*.pdb
*.mdb
*.ilk
*.obj
*.pch
*.idb
*.ipdb
*.tlog

# Mac OS files
.DS_Store

# Thumbnails
Thumbs.db