@using TourDeApp.Models.Schemas


@code {
    [Parameter] public EventCallback<TourDeApp.Models.Schemas.Cell> OnClick { get; set; }
    
    [Parameter, EditorRequired] public required Models.Schemas.Cell CellInstance { get; set; }
        
    private async Task HandleClick()
    {
        await OnClick.InvokeAsync(CellInstance);
    }
}

<!-- TODO: Display images instead of text -->
<span @onclick="HandleClick" class="cell">
    @CellInstance.State.ToString()
</span>