@using TourDeApp.Infrastructure.CustomConverters
@using TourDeApp.Models.Schemas


@code {
    [Parameter] public EventCallback<string> OnClick { get; set; }
    
    [Parameter, EditorRequired] public required string CellInstance { get; set; }
        
    private async Task HandleClick()
    {
        await OnClick.InvokeAsync(CellInstance);
    }
}

<span @onclick="HandleClick" class="cell">
    @if (CellStateConverter.ToEnum(CellInstance) != CellState.Empty)
    {
        if(CellInstance == CellState.X.ToString()) 
        {
            <img class="icon" src="/TdA_Ikonky/SVG/X/X_cervene.svg"/>
        }
        else 
        {
            <img class="icon" src="/TdA_Ikonky/SVG/O/O_modre.svg"/>
        }
    }
</span>