@code {
    [Parameter]
    public int[]? ID { get; set; }

    private void HandleClick()
    {
        if (ID != null) Console.WriteLine($"Cell ID: {ID[0]}, {ID[1]} has been clicked");
    }
}

<span @onclick="HandleClick" class="cell">
</span>