@using TourDeApp.Infrastructure.CustomConverters
@using TourDeApp.Models.Schemas


@code {
    [Parameter, EditorRequired] public required Models.Schemas.Cell CellInstance { get; set; }
    
    [Inject] private GameService _gameService { get; set; }

    protected override void OnInitialized()
    {
        _gameService.SubscribeMove(StateHasChanged);
    }
    
    private void HandleClick()
    {
        _gameService.UpdateBoard(CellInstance);
    }
}

@if (CellInstance.WinningCell == false)
{
    <span @onclick="HandleClick" class="cell">
        @if (CellInstance.State != CellState.Empty)
        {
            if(CellInstance.State == CellState.X) 
            {
                <img class="icon" src="/TdA_Ikonky/SVG/X/X_cervene.svg"/>
            }
            else 
            {
                <img class="icon" src="/TdA_Ikonky/SVG/O/O_modre.svg"/>
            }
        }
    </span>
}
else
{
    <span @onclick="HandleClick" class="winning_cell">
        @if (CellInstance.State != CellState.Empty)
        {
            if(CellInstance.State == CellState.X) 
            {
                <img class="icon" src="/TdA_Ikonky/SVG/X/X_cervene.svg"/>
            }
            else 
            {
                <img class="icon" src="/TdA_Ikonky/SVG/O/O_modre.svg"/>
            }
        }
    </span>
}