@code {
    [Parameter] public int[]? ID { get; set; }
    
    [Parameter] public EventCallback<int[]> OnClick { get; set; }

    private async Task HandleClick()
    {
        if (ID != null)
        {
            await OnClick.InvokeAsync(ID);
        }
    }
}

<span @onclick="HandleClick" class="cell">
</span>