@using TourDeApp.Models
@inject GameService GameService

<span class="game_field">
    <table class="table">
        <tbody>
            @for (int row = 0; row < Game.BoardState.Size; row++)
            {
                <tr>
                    @for (int column = 0; column < Game.BoardState.Size; column++)
                    {
                        <td class="game_cell">
                            <Cell CellInstance="Game.BoardState.Board[row, column]" OnClick="ChangeCellState"></Cell>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</span>

@code {
    private Game _game;
    
    [Parameter, EditorRequired] public Game Game
    {
        get => _game;
        set => _game = value;
    }

    protected override void OnInitialized()
    {
        Console.WriteLine("GameField.razor has been initialized");
    }

    private void ChangeCellState(TourDeApp.Models.Schemas.Cell cell)
    {
        _game.UpdateBoard(cell);
    }
}