@using TourDeApp.Models
@using TourDeApp.Models.Schemas
@inject GameService GameService

<span class="game_field">
    <table class="table">
        <tbody>
            @for (int row = 0; row < _boardState.Size; row++)
            {
                <tr>
                    @for (int column = 0; column < _boardState.Size; column++)
                    {
                        <td class="game_cell">
                            <Cell CellInstance="_boardState.Board[row, column]" OnClick="ChangeCellState"></Cell>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</span>

@code {
    private BoardState _boardState = new BoardState();

    [Parameter, EditorRequired]
    public BoardState BoardState
    {
        get => _boardState;
        set { _boardState = value; }
    }

    protected override void OnInitialized()
    {
    }

    private void ChangeCellState(TourDeApp.Models.Schemas.Cell cell)
    {
        _boardState.Board[cell.CellID[0], cell.CellID[1]] = _boardState.UpdateCell(cell);
        Console.WriteLine($"Cell {cell.CellID[0]}, {cell.CellID[1]} has been clicked and its state is {cell.State}");
    }
}