@using TourDeApp.Models
@using TourDeApp.Models.Schemas
@inject GameService GameService

<span class="game_field">
    <table class="table">
        <tbody>
            @for (int row = 0; row < Game.BoardState.Size; row++)
            {
                <tr>
                    @for (int column = 0; column < Game.BoardState.Size; column++)
                    {
                        <td class="game_cell">
                            <Cell CellInstance="Game.BoardState.Board[row, column]" OnClick="ChangeCellState"></Cell>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</span>

@code {

    [Parameter, EditorRequired] public Game Game { get; set; }
    

    protected override void OnInitialized()
    {
    }

    private void ChangeCellState(TourDeApp.Models.Schemas.Cell cell)
    {
        if (cell.State == CellState.Empty && Game.GameFinished == false) Game.UpdateBoard(cell);
    }
}