@inject GameService gameService

<!-- Create a 15x15 game field -->
<div class="game_field">
    <table class="table">
        <tbody>
            @for (int row = 0; row < 15; row++)
            {
                <tr class="row">
                    @for (int i = 0; i < 15; i++)
                    {
                        <td class="game_cell">
                            <Cell ID="GetID(row, i)"></Cell>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@code {

    private TourDeApp.Components.Models.Game _game;

    protected override void OnInitialized()
    {
        _game = gameService.GetGame();
    }

    private int[] GetID(int row, int column)
    {
        int[] id = new int[] { row, column };
        return id;
    }
}