@using TourDeApp.Models
@using TourDeApp.Models.Schemas
@using TourDeApp.Services
@inject GameService GameService
@inject GamesController GameController


<table class="table">
    <tbody>
        @for (int row = 0; row < GlobalSettings.BoardLength; row++)
        {
            <tr>
                @for (int column = 0; column < GlobalSettings.BoardLength; column++)
                {
                    var cell = new TourDeApp.Models.Schemas.Cell()
                    {
                        CellID = [row, column],
                        State = CellStateConverter.ToEnum(_game.Board[row][column]),
                        WinningCell = _game.WinningLine.Any(x => x[0] == row && x[1] == column)
                    };

                    <td class="game_cell">
                        <Cell CellInstance="cell"></Cell>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


@code {
    [Inject] private GameService _gameService { get; set; }

    private Game _game { get; set; }
    
    protected override void OnInitialized()
    {
        _gameService.SubscribeMove(StateHasChanged);
        _game = _gameService.GetGame();
    }

    private void ChangeCellState(Models.Schemas.Cell cell)
    {
        if (cell.State != CellState.Empty || _game.Winner != null) return;

        GameState gameState = _game.GameState;

        _gameService.UpdateBoard(cell);

        if (_game.CheckWinAndSetGameState())
        {
            foreach (var id in _game.WinningLine)
            {
                Console.WriteLine($"{id[0]}, {id[1]}");
            }
        }
    }
}