@using TourDeApp.Models
@using TourDeApp.Models.Schemas
@using TourDeApp.Services
@inject GameService GameService
@inject GamesController GameController
@implements IDisposable


<table class="table">
    <tbody>
        @for (int row = 0; row < GlobalSettings.BoardLength; row++)
        {
            <tr>
                @for (int column = 0; column < GlobalSettings.BoardLength; column++)
                {
                    var cell = new TourDeApp.Models.Schemas.Cell()
                    {
                        CellID = [row, column],
                        State = CellStateConverter.ToEnum(Game.Board[row][column]),
                        WinningCell = Game.WinningLine.Any(x => x[0] == row && x[1] == column)
                    };

                    <td class="game_cell">
                        <Cell CellInstance="cell"></Cell>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


@code {
    [Inject] private GameService _gameService { get; set; }

    [Parameter] public Game Game { get; set; }
    
    protected override void OnInitialized()
    {
        _gameService.SubscribeMove(OnMove);
    }

    private void OnMove()
    {
        Game = _gameService.GetGame();
        InvokeAsync(StateHasChanged);
    }
    
    private void ChangeCellState(Models.Schemas.Cell cell)
    {
        if (cell.State != CellState.Empty || Game.Winner != null) return;

        GameState gameState = Game.GameState;

        _gameService.UpdateBoard(cell);

        if (Game.CheckWinAndSetGameState())
        {
            foreach (var id in Game.WinningLine)
            {
                Console.WriteLine($"{id[0]}, {id[1]}");
            }
        }
    }

    public void Dispose()
    {
        _gameService.UnsubscribeMove(StateHasChanged);
    }
}