@code
{
    [Parameter] public EventCallback<string> OnClick { get; set; }

    [Parameter, EditorRequired] public required Models.Game Game { get; set; }

    private async Task HandleClick()
    {
        await OnClick.InvokeAsync(Game.Uuid);
    }
}

<div class="preview-game" @onclick="HandleClick">
    <table class="preview-table">
        <tbody>
        @for (int row = 0; row < GlobalSettings.BoardLength; row++)
        {
            <tr>
                @for (int column = 0; column < GlobalSettings.BoardLength; column++)
                {
                    var cell = new TourDeApp.Models.Schemas.Cell()
                    {
                        CellID = [row, column],
                        State = CellStateConverter.ToEnum(Game.Board[row][column])
                    };

                    <td class="preview-game-cell">
                        <PreviewCell CellState="cell.State"></PreviewCell>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
    

</div>    

<div class="game-info">
    @if (Game.Difficulty == DifficultyType.Beginner)
    {
        <img src="TdA_Ikonky\SVG\Beginner\zarivka_beginner_modre.svg" class="difficulty-icon" />
    }
    else if (Game.Difficulty == DifficultyType.Easy)
    {
        <img src="TdA_Ikonky\SVG\Easy\zarivka_easy_zlute.svg" class="difficulty-icon" />
    }
    else if (Game.Difficulty == DifficultyType.Medium)
    {
        <img src="TdA_Ikonky\SVG\Medium\zarivka_medium_oranzove.svg" class="difficulty-icon" />
    }
    else if (Game.Difficulty == DifficultyType.Hard)
    {
        <img src="TdA_Ikonky\SVG\Hard\zarivka_hard_cervene.svg" class="difficulty-icon" />
    }
    else if (Game.Difficulty == DifficultyType.Extreme)
    {
        <img src="TdA_Ikonky\SVG\Extreme\zarivka_extreme_fialove.svg" class="difficulty-icon" />
    }
    @Game.Name
    @Game.CreatedAt.ToString()
    @Game.UpdatedAt.ToString()
</div>