@code
{
    [Parameter, EditorRequired] public required Models.Schemas.CellState CellState { get; set; }

    protected override void OnInitialized()
    {

    }
}

<div class="preview-cell">
    @if (CellState != CellState.Empty)
    {
        if (CellState == CellState.X)
        {
            <div class="preview-icon">
                <img class="icon" src="/TdA_Ikonky/SVG/X/X_cervene.svg"/>
            </div>
        }
        else
        {
            <div class="preview-icon">
                <img class="icon" src="/TdA_Ikonky/SVG/O/O_modre.svg"/>
            </div>
        }
    }
</div>