@code
{
    [Parameter] public EventCallback<string> OnClick { get; set; }

    [Parameter, EditorRequired] public required Models.Game Game { get; set; }

    private async Task HandleClick()
    {
        await OnClick.InvokeAsync(Game.Uuid);
    }
}

<div class="preview-game" @onclick="HandleClick">
    <table class="preview-table">
        <tbody>
            @for (int row = 0; row < GlobalSettings.BoardLength; row++)
            {
                <tr>
                    @for (int column = 0; column < GlobalSettings.BoardLength; column++)
                    {
                        var cell = new TourDeApp.Models.Schemas.Cell()
                        {
                            CellID = [row, column],
                            State = CellStateConverter.ToEnum(Game.Board[row][column])
                        };

                        <td class="preview-game-cell">
                            <PreviewCell CellState="cell.State"></PreviewCell>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>