.preview-game{
    justify-self: center;

    border: 2px solid black;
    margin: 10px;
    padding: 0;

    width: fit-content;
    height: fit-content;
}

.preview-table{
    border: 1px solid black;
    border-spacing: 0px;
}

.preview-game-cell{
    display: table-cell;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;

    border: 1px solid black;
}

.game-info {
    margin: 5px;
    color: white;
    font-family: 'Dosis-light', sans-serif;
}

.difficulty-icon {
    width: 30px; 
    height: 30px;
    top: 25px;
}

@font-face {
    font-family: 'Dosis-light';
    src: url('Dosis-Light.ttf');
}