@code
{
    [Parameter] public EventCallback<string> OnClick { get; set; }

    [Parameter, EditorRequired] public required Models.Game Game { get; set; }

    private async Task HandleClick()
    {
        await OnClick.InvokeAsync(Game.Uuid);
    }
}

<div class="game_field" @onclick="HandleClick">
    <table class="table">
        <tbody>
            @for (int row = 0; row < GlobalSettings.BoardLength; row++)
            {
                for (int column = 0; column < GlobalSettings.BoardLength; column++)
                {
                    var cell = new TourDeApp.Models.Schemas.Cell()
                    {
                        CellID = [row, column],
                        State = CellStateConverter.ToEnum(Game.Board[row][column])
                    };

                    <td class="game_cell">
                        <PreviewCell CellState="cell.State"></PreviewCell>
                    </td>
                }
            }
        </tbody>
    </table>
</div>