@page "/game"
@rendermode InteractiveServer
@inject NavigationManager navigationManager


<!-- Create a 15x15 game field -->
<div class="game">
    <div class="game_field">
        <table class="table">
            <tbody>
                @for (int row = 0; row < 15; row++)
                {
                    <tr class="row">
                        @for (int i = 0; i < 15; i++)
                        {
                            <td class="game_cell">
                                <div class="icon_div">
                                    
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@code
{
    private void Title()
    {
        navigationManager.NavigateTo("/");
    }
}