@page "/game/"
@page "/game/{Uuid}"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject GameService GameService
@using TourDeApp.Components.Pages.Shared

<PageTitle>Game</PageTitle>

@if (_game != null && _game.GameFinished != true)
{
    <div class="game">
        <GameField Game="_game" OnWin="StateHasChanged"></GameField>
    </div>
}
else
{
    <!-- TODO: Display a message saying who has won, how many rounds, etc. -->
}

@code



{
    private TourDeApp.Models.Game? _game { get; set; }
    [Parameter] public string Uuid { get; set; }
    
    protected override void OnInitialized()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        _game = GameService.CreateGame();

        if (Uuid == null)
        {

            Uuid = _game.Uuid;

            await Task.Delay(10);
            NavigationManager.NavigateTo($"/game/{Uuid}", true);
            StateHasChanged();
        }
        else
        {
            _game = GameService.GetCurrentGame();
            StateHasChanged();
        }
    }
}
