@page "/game/"
@page "/game/{Uuid}"
@using TourDeApp.Components.Pages.Shared
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject GameService GameService
@inject GamesController GamesController
@using TourDeApp.Models.Schemas

<PageTitle>Game</PageTitle>

@if (_game != null && _game.GameFinished != true)
{
    <div class="grid-container">
        <div class="left">
            <div class="grid-item">
                @if (hr_ed)
                {
                    <h1 id="text_2" style=" font-size: 48px; font-family: 'Dosis-ExtraBold', sans-serif;">HRA</h1>
                    <div>
                        <h3>Na řadě je:</h3>
                        @if (_game.Next == CellState.X)
                        {
                            <img src="/TdA_Ikonky/SVG/X/X_cervene.svg" style="width: 10%; height: 10%;" />
                        }
                        else
                        {
                            <img src="/TdA_Ikonky/SVG/O/O_modre.svg" style="width: 50px; height: 50px;" />
                        }
                    </div>
                }
                else
                {
                    <h1 id="text_1" style=" font-size: 48px; font-family: 'Dosis-ExtraBold', sans-serif;">EDITOR</h1>
                }
            </div>
        </div>

        <div class="game">
            <GameField Game="_game" OnWin="StateHasChanged" ReRender="StateHasChanged"></GameField>
        </div>

        <div class="right">
            <div class="grid-item">
                <div class="container_g">
                    <button class=tlac_g id="tlac_2" @onclick="Change_Hr">Hra</button>
                    <div id="text_0">|</div>
                    <button class=tlac_g id="tlac_1" @onclick="Change_Ed">Editor</button>
                </div>
                @if (hr_ed)
                {
                    <form>
                        <InputText @bind-Value="_gameUuid" style=" background-color: black;">Zadej Random Text</InputText>
                        <button id="tlac_3" @onclick="SaveGame" style=" ">Uložit</button>
                        <button class=tlac_g id="tlac_4" @onclick="LoadGame">Načíst</button>
                        
                    </form>
                }
                else
                {
                    <form>
                        <button class=tlac_g id="tlac_3">yapyap</button>
                        <button class=tlac_g id="tlac_4">yapyap</button>
                    </form>
                }
            </div>
        </div>
    </div>
}
else if (_game == null)
{
    <!-- TODO: Show loading screen or spinning circle (will be nice when games are retrieved from database) -->
}
else
{
    <!-- TODO: Display a message saying who has won, how many rounds, etc. -->
}

@code
{
    public bool hr_ed = true;

    private string? _gameUuid {get;set;}

    private void Change_Ed()
    {
        hr_ed = false;
    }
    private void Change_Hr()
    {
        hr_ed = true;
    }

    private Models.Game? _game { get; set; }
    [Parameter] public string? Uuid { get; set; }

    protected override void OnInitialized()
    {
        _game = GameService.CreateGame();
        StateHasChanged();
    }

    private async Task SaveGame()
    {
        if (_game == null) return;
        var request = new GameCreateUpdateRequest(_game);
        var result = await GamesController.Post(request);

        if (result is ObjectResult objectResult && objectResult.StatusCode == 201)
        {
            Console.WriteLine("Hra se uložila");
        }
        else
        {
            Console.WriteLine("Hra se NEuložila :(");
        }
    }

    private void GetGames()
    {
        var result = GamesController.Get();

        if (result is ObjectResult objectResult && objectResult.StatusCode == 200)
        {
            var games = objectResult.Value as List<TourDeApp.Models.Game>;

            if (games != null)
            {
                foreach (TourDeApp.Models.Game game in games)
                {
                    Console.WriteLine($"{game.Name}, {game.Uuid}, {game.Difficulty}, {game.GameState}");
                }
            }
        }
    }

    private async Task LoadGame()
    {
        if (_gameUuid == null) return;

        var result = await GamesController.Get(_gameUuid);

        if (result is ObjectResult objectResult && objectResult.StatusCode == 200)
        {
            if (objectResult.Value is TourDeApp.Models.Game game)
            {
                GameService.SetGame(game);
            }
            _game = GameService.GetCurrentGame();
            StateHasChanged();
            Console.WriteLine($"Game has been loaded: {_gameUuid}");
        }
        else
        {
            Console.WriteLine("There has been an error");
        }
    }


}
