@page "/game/"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject GameService GameService
@using TourDeApp.Components.Pages.Shared

<PageTitle>Game</PageTitle>

@if (_game != null)
{
    <div class="game">
        <GameField Game="_game"></GameField>
    </div>
}

@code
{
    private TourDeApp.Models.Game? _game { get; set; }

    protected override void OnInitialized()
    {
        _game = GameService.GetGame();
    }
}