@page "/game/"
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject GameService gameService
@using TourDeApp.Components.Pages.Shared


<div class="game">
    <GameField></GameField>
</div>


@code
{

}