@page "/"
@using TourDeApp.Models
@using TourDeApp.Components.Pages.Shared
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="container">
    <button class="btton" @onclick="PlayLocally">Hrát lokálně</button>
    <button class="btton" @onclick="PlayOnline">Hrát online</button>
    

    <Modal @ref="multiplayerSelectModal" HeightPercent="30" WidthPercent="20">
        @if (!playWithFriend)
        {
            <div style="display: flex; justify-content: center; align-items:  center; height: 100%">
                <button class="buttn" @onclick="PlayQuickGame">Rychlá hra</button>
                <button class="buttn" @onclick="PlayWithFriend">Hra s kamarádem</button>
            </div>
        }
        else if (waitingForFriend)
        {
            <h2>Vytvoření hry</h2>

            <div>
                <label>Kód hry: @GenerateFriendCode()</label>
            </div>
        }
        else
        {
            <h2>Hra s kamarádem</h2>

            <div>
                <label for="join-game">Kód hry</label>
                <InputText id="join-game" @bind-Value="friendCode"></InputText>
                <button>Připojit se</button>
            </div>

            <div>
                <label for="create-game">Nemáte kód?</label>
                <button @onclick="() => { waitingForFriend = true; StateHasChanged();}">Vytvořit hru</button>
            </div>
        }
    </Modal>
</div>

<div style="margin: 0; padding: 0;">


    <!-- Čára -->
    <hr style="margin: 20px 0; border: 1px solid white;" />

    <h1 style="font-size: 48px; font-family: 'Dosis-ExtraBold', sans-serif; text-align: center; color: #724479;">Uložené hry</h1>

    @if (Games != null)
    {
        <div style="cursor: pointer;">
            <div style="margin: 0; padding:0;">
                <div class="container">
                    <table class="game-preview">
                        <tbody>
                            @for (int i = 0; i < Games.Count; i += 3)
                            {
                                if (Games.Count - i >= 3)
                                {
                                    <tr>
                                        <td>
                                            <PreviewGame Game="Games[i]" OnClick="OpenGame"></PreviewGame>
                                        </td>

                                        <td>
                                            <PreviewGame Game="Games[i + 1]" OnClick="OpenGame"></PreviewGame>
                                        </td>

                                        <td>
                                            <PreviewGame Game="Games[i + 2]" OnClick="OpenGame"></PreviewGame>
                                        </td>
                                    </tr>
                                }
                                else if (Games.Count - i == 2)
                                {
                                    <tr>
                                        <td>
                                            <PreviewGame Game="Games[i]" OnClick="OpenGame"></PreviewGame>
                                        </td>

                                        <td>
                                            <PreviewGame Game="Games[i + 1]" OnClick="OpenGame"></PreviewGame>
                                        </td>
                                    </tr>
                                }
                                else if (Games.Count- i == 1)
                                {
                                    <tr>
                                        <td>
                                            <PreviewGame Game="Games[i]" OnClick="OpenGame"></PreviewGame>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="loader-container">
            <div class="loader"></div>
        </div>
    }
</div>

@code
{
    // Moved to Home.razor.cs
}
