@page "/"
@rendermode InteractiveServer
@inject NavigationManager navigationManager

<PageTitle>Home</PageTitle>

<div class="container">
    <button class="nazev_tlacitko" id="tlac_1" @onclick="Play">Hrát</button>
    <button class="nazev_tlacitko" id="tlac_2">Nahrát hru</button>
</div>


<h1>Hello TdA</h1>

@code
{


    private void Play()
    {
        navigationManager.NavigateTo("/game");
    }
}
