@page "/"
@rendermode InteractiveServer
@inject NavigationManager navigationManager
<PageTitle>Home</PageTitle>

<h1>Hello TdA</h1>

<button @onclick="Play">Hrát</button>


@code
{

    private void Play(MouseEventArgs obj)
    {
        navigationManager.NavigateTo("/game");
    }
}
