.games
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; /* hra na jinem radku */
}

.game-preview
{
    text-align: center;
}

.game-field
{

}

.table
{

}