@page "/"
@using TourDeApp.Models
@using TourDeApp.Components.Pages.Shared
@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject GamesController GamesController

<PageTitle>Home</PageTitle>

<div class="container">
    <button class="btton" @onclick="Play">Hrát</button>
    <button class="btton">Nahrát hru</button>
</div>

<hr style="margin: 20px 0; border: 1px solid white;" />

@if (Games != null)
{
    <div class="games">
            @foreach (var game in Games)
            {
                <div class="game-preview">
                    <PreviewGame Game="game"></PreviewGame>
                </div>
            }
    </div>
}
else
{
    <div class="loader-container">
        <div class="loader"></div>
    </div>
}







@code
{
    private Modal? ModalRef;
    private UserModel UserModel { get; set; } = new();
    public bool meh = true;
    private Models.Game defaultGame = new Models.Game("Default game", DifficultyType.Beginner);
    private bool gamesLoading { get; set; }
    private List<Models.Game>? _games;
    public List<Models.Game>? Games
    {
        get
        {
            return _games;
        }
        set
        {
            _games = value;
            StateHasChanged();
        }
    }

    private void OpenModal() => ModalRef?.Open();
    private void HandleValidSubmit()
    {
        ModalRef?.Close();
    }
    private void Play()
    {
        navigationManager.NavigateTo("/game", true);
    }

    private IList<Todoitem> Todos { get; set; } = new List<Todoitem>();

    protected override void OnInitialized()
    {
        // working on
        Todos.Add(new Todoitem("Wash Clothes"));
        Todos.Add(new Todoitem("Clean Desk"));
    }

    protected override async Task OnInitializedAsync()
    {
        gamesLoading = true;
        // Start a background task to load games without blocking the UI
        _ = LoadGamesAsync();
    }

    private async Task LoadGamesAsync()
    {
        Games = await GetGames();
        gamesLoading = false;
        await InvokeAsync(StateHasChanged); // Notify Blazor to update the UI
    }

    public string ItemClass(Todoitem item)
    {
        return item.Completed ? "item-completed" : "";
    }

    private async Task<List<Models.Game>> GetGames()
    {
        var result = await GamesController.Get();
    
        if (result is ObjectResult objectResult && objectResult.StatusCode == 200)
        {
            var games = objectResult.Value as List<TourDeApp.Models.Game>;
    
            if (games != null)
            {
                return games;
            }
        }
    
        return new List<Models.Game>() { defaultGame };
    }
}
