@page "/"
@rendermode InteractiveServer
@inject NavigationManager navigationManager

<PageTitle>Home</PageTitle>

<div class="container">
    <button class="nazev_tlacitko" id="tlac_1" @onclick="Play">Hrát</button>
    <button class="nazev_tlacitko" id="tlac_2">Nahrát hru</button>
</div>


<Modal @ref="ModalRef">
    <h3 id="text_2">Login</h3>
    <EditForm Model="@UserModel" OnValidSubmit="HandleValidSubmit">
        <div class="form-group">
            <label for="username">Uživatelské jméno:</label>
            <InputText required placeholder="Táďa" id="username" @bind-Value="UserModel.Username"/>
        </div>
        <div class="form-group">
            <label for="password">Heslo:</label>
            <InputText required placeholder="8+ znaků" type="password" id="password" minlength="8" @bind-Value="UserModel.Password" />
        </div>
        <button type="submit" class="submit">Submit</button>
    </EditForm>
</Modal>

<button @onclick="OpenModal">Přihlásit se</button>




@code
{
    private Modal? ModalRef;
    private UserModal UserModel {get; set; } = new();

    private void OpenModal() => ModalRef?.Open();
    private void HandleValidSubmit() {
        ModalRef?.Close();
    }

    private class UserModal{
        public string Username {get; set;} = string.Empty;
        public string Password {get; set;} = string.Empty;
    }
    private void Play()
    {
        navigationManager.NavigateTo("/game", true);
    }

}
