@page "/"
@rendermode InteractiveServer
@inject NavigationManager navigationManager

<PageTitle>Home</PageTitle>

<div class="container">
    <button class="nazev_tlacitko" @onclick="Play">Hrát</button>
</div>

<h1>Hello TdA</h1>

<h2>nic()</h2>

@code
{


    private void Play(MouseEventArgs obj)
    {
        navigationManager.NavigateTo("/game");
    }
}
