@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


<div class="page">
    <div class="header">
        <a href="">
            <img src="TdA_Logo/SVG/hlavni_logo.svg" alt="Logo" class="logo" />
        </a>
        <h1 class="nazev">PIŠKVORKY</h1>
        <button style="justify-self: flex-end" @onclick="HandleClick">Registrovat</button>
    </div>

    <!--
    <nav>
        <ul>
            <li><NavLink href="" Match="NavLinkMatch.All">Domů</NavLink></li>
            <li><NavLink href="hra" Match="NavLinkMatch.All">Hra</NavLink></li>
            <li><NavLink href="historie" Match="NavLinkMatch.All">Historie</NavLink></li>
            <li><NavLink href="kontakt" Match="NavLinkMatch.All">Kontakt</NavLink></li>
        </ul>
    </nav>
    -->

    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    private void HandleClick()
    {
        NavigationManager.NavigateTo("/register", forceLoad: true);
    }

}