@inherits LayoutComponentBase

<div class="page">
    <div class="header">
        <img src="TdA_Logo/SVG/hlavni_logo.svg" alt="Logo" class="logo" />
        <h1 class="nazev">
            <a href="">PIŠKVORKY</a>
        </h1>
    </div>
    
    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
