@page "/"
@page "/index"

<html>
    <head>
        <title>Ahoj</title>
    </head>
    <body>
        <h1>Hello TdA</h1>
        <button @onclick="ChangeText">@nazev</button>
    </body>
</html>

@code {
    private string nazev = "Prvni nazev";

    private void ChangeText()
    {
        nazev = "Druhy nazev";
    }
}
