@page "/"
@page "/index"

<html>
    <head>
        <title>Ahoj</title>
    </head>
    <body>
        <h1>Hello TdA/>
        <button @onclick="ChangeText">@nazev</button>
    </body>
</html>

@code {
    private string nazev = "Prvni nazev"
    private void onclick()
    {
        nazev = "Druhy nazev"
    }
}