@page "/OnlineGameField"

<table class="table">
    <tbody>
    @for (int row = 0; row < GlobalSettings.BoardLength; row++)
    {
        <tr>
            @for (int column = 0; column < GlobalSettings.BoardLength; column++)
            {
                var cell = new TourDeApp.Models.Schemas.Cell()
                {
                    CellID = [row, column],
                    State = CellStateConverter.ToEnum(_game.Board[row][column]),
                    WinningCell = _game.WinningLine.Any(x => x[0] == row && x[1] == column)
                };

                <td class="game_cell">
                    <OnlineCell CellInstance="cell" Uuid="@Uuid"></OnlineCell>
                </td>
            }
        </tr>
    }
    </tbody>
</table>

@code {
    private Models.OnlineGame _game { get; set; }

    [Inject] private OnlineGameService _gameService { get; set; }
    [Inject] private SignalRService _signalRService { get; set; }

    [Parameter, EditorRequired] public string Uuid { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _gameService.Subscribe(_game.Uuid, StateHasChanged, StateHasChanged);
    }
}